.navbarMainContainer{
    width: 100%;
}

.headerclass {
        
    // width: 100%;
    // margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.navContainer {
    position: relative
}

.linkStyle{
    text-decoration: none;
    color: rgba(0,0,0,.5);

    &:hover,&:visited,&:active {
        text-decoration: none; 
        color:rgba(0,0,0,.7);

    }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    
    .headerclass {
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}